{% extends'base.html.twig' %}

{% form_theme form _self %}

{% block body %}
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col">
            {{ form(form) }}
        </div>
        <div class="col-sm-2"></div>
    </div>
{% endblock %}